@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.5;
}

html {
  font-size: 16px;
}

a {
  text-decoration: none;
}

.btn {
  text-transform: capitalize;
  border: transparent;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  letter-spacing: 2px;
}
.btn-pink {
  background-color: #ffe8f1;
  color: #ff69a6;
}

.btn-blue {
  background-color: #ecf3ff;
  color: #68a3ff;
}

div {
  border: 3px solid red;
  background: yellow;
  margin-top: 40px;
  text-align: right;
  padding: 1rem;
  /* position: relative; */
}

.one {
  background-color: blue;
  color: white;
  text-align: left;
  /* position: absolute; */
  /* top: 10%; */
  /* left: 0; */
}
.two {
  background-color: green;
  color: white;
  position: relative;
}

.special {
  background-color: pink;
  font-size: 20px;
  color: #222;
  position: absolute;
  right: 10%;
  bottom: 10%;
}

/* Position - relative, absolute, sticky, fixed */
