@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.5;
  background-color: yellow;
}

html {
  font-size: 16px;
}

a {
  text-decoration: none;
}

.btn {
  text-transform: capitalize;
  border: transparent;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  letter-spacing: 2px;
}
.btn-pink {
  background-color: #ffe8f1;
  color: #ff69a6;
}

.btn-blue {
  background-color: #ecf3ff;
  color: #68a3ff;
}

/* Responsive CSS*/
/* Screen above 576px for large mobiles */
@media screen and (min-width: 576px) {
}

/* screen above 768px for tablets */

@media screen and (min-width: 768px) {
}

/* screen above 1024px for laptops */

@media screen and (min-width: 1024px) {
}
