@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.5;
}

html {
  font-size: 16px;
}

a {
  text-decoration: none;
}

.btn {
  text-transform: capitalize;
  border: transparent;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  letter-spacing: 2px;
}
.btn-pink {
  background-color: #ffe8f1;
  color: #ff69a6;
}

.btn-blue {
  background-color: #ecf3ff;
  color: #68a3ff;
}

.banner {
  border: 5px solid red;
  padding: 10px;
}

.one {
  float: left;
}

.two {
  float: right;
  height: 40px;
}

p {
  clear: both;
}
